@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@502&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'DoodlesOfFun';
    src: url('fonts/DoodlesOfFun.ttf') format('truetype');
}
@font-face {
    font-family: 'SummerGroovy';
    src: url('../fonts/SummerGroovy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.overpass-medium {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Medium weight */
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: rgb(260, 259, 259); 
    overflow: visible;
    z-index: -1000;
   
}

.MainHeader{
    width: 100%;
    display: grid;
    /* Center both horizontally and vertically */
    margin: 0 auto;
    overflow:visible;
    margin-bottom: 20%;

}



main {
    position: relative;
    top: 0px; /* Adjust this value as needed */
}


/*  Nav Bar and its compnments*/
.navbar {
    position: relative;
    z-index: 10; /* Ensure navbar is above the pseudo-element */
}

.navbar:before {
    content: '';
    position: absolute;
    top: -10px; /* Adjust these values to control the gradient size */
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1; /* Position the gradient behind the navbar content */
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    pointer-events: none; /* Allows clicks to pass through to elements below */
}

a {
    color: rgb(77, 24, 24);
}
a:visited {
    color: rgb(21, 22, 94);
}
a:hover {
    color: #6F86FF;
}

/* off-screen-menu */
.off-screen-menu {
background-color:  rgba(182, 191, 228, 0.349);

width: 100%;
max-width: 450px;
position: fixed;
top: 0;
right: -450px;
display: flex;
flex-direction: column;
align-items: center;    
justify-content: center;
text-align: center;
font-size: 3rem;
transition: .3s ease;
backdrop-filter: blur(5px);
border-bottom-left-radius: 20px;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
z-index: 99;
line-height: 1.5;
font-size: 40px;
font-family: "Overpass", sans-serif;
font-optical-sizing: auto;
font-weight: 800;
padding-top:110px;
}
.off-screen-menu.active {
right: 0;
}
/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}
/* ham menu */
.ham-menu {
    height: 100px;
    width: 80px;
    display: flex;
    margin-left: auto;
    position: sticky; /* Changed from relative to sticky */
    right: 5%;
    top: 2%;
    z-index: 100;
    
    
}
.ham-menu span.TopBar {
    background-color: rgb(174,213,226); /* Top bar color */
}
.ham-menu span.MidBar {
    background-color: rgb(250,190,190); /* Middle bar color */
}
.ham-menu span.BottomBar {
    background-color: rgb(246,191,133); /* Bottom bar color */
}
.ham-menu span {
    height: 15px;
    width: 100%;
    background-color: #6e5cbd;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
    box-shadow: none ;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* the main sections and thier components  */

section {
  
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 20%;
}
h2{
    color: #211527;
    font-size: 6rem;
    font-family: 'SummerGroovy', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    z-index: 2;
}
h3{
    color: #211527;
    font-size: 3.5rem;
    font-family: 'SummerGroovy', sans-serif;
    text-align: center; 
    letter-spacing: 2px;
}
p {
    color: #260e30;
    font-size: 30px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Medium weight */
    font-style: normal;
     display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    
}
.boldText  {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /* Bold weight */
    font-style: normal;
}





/* Styling for the index page */




.aboutContainer{
    width: 100%;
    background-color: rgba(174,213,226);
    z-index: -21;
    overflow: hidden;
    position: relative;
}
.aboutHeader{
    padding: 5%;
}


.aboutContentOne
{
    display: flex;
    flex-direction: column; /* Stack elements vertically by default (mobile-first) */

    padding: 5%; /* Space between elements */
    flex: 1; /* Take up remaining space */
      
}
.aboutContentTwo{
     /* Stack elements vertically by default (mobile-first) */
    padding: 5%; /* Space between elements */
   
}
.aboutContentMission{
    display: flex;
    flex-direction: column; /* Stack elements vertically by default (mobile-first) */
    padding: 13%; /* Space between elements */
    flex: 1; 
}


.aboutImageContainer,
.aboutImageContainerTwo{
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    object-fit: cover;
    width: 100%; /* Set a fixed width for the container */
    height: 600px; /* Set a fixed height for the container */
    border-radius: 15px;
    margin-top: 10%;
    
}
.aboutImageContainerTwo{
    display: none;
} 
.AboutImage {
    width: 150%; /* Increase the width to ensure the image covers the container */
    height: 150%;
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -47%;
    top: -20%; /* Adjust the left property to move the image to the left */
}
.imageOne{
    width: 120%; /* Increase the width to ensure the image covers the container */
    height: auto;
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -20%;
    top:-20%;
}
.imageTwo{
    width: 120%; /* Increase the width to ensure the image covers the container */
    height: auto;
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -30%;
    top:-20%;
}

.aboutHeaderTwo{
    padding-top: 15%;
    padding-bottom: 5%;
}
.aboutContentMission{
   padding: 5%;
    
}
.quoteContainer{
    width: 100%;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; 
    z-index: -100;
    background-color: rgb(250, 190, 190);
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
}
.quote{
    font-size: 4rem;
    color: #211527;
    font-family: 'SummerGroovy', sans-serif;
    text-align: center; 
    letter-spacing: 2px;
    text-align: center;
    

}
.quoteSection{
    padding-bottom: 0%;
}
.missionContainer{
    width: 100%;
    background-color: rgba(246,191,133);  
    z-index: -50;
    overflow: visible;
    position: relative;
}




.contactContainer{
    width: 100%;
    padding-top: -10%;
    background-color: rgba(250,190,190);
    z-index: 0;
    overflow: hidden;
    position: relative;
    
}
.contactBorderSpace{
    height: 150px;
    z-index: -10;
    background-color: rgb(250, 190, 190);
    position: relative;
}
.contactHeader{
    margin-top: -30%;
    padding-bottom: 5%;
}
.contactHeaderRefferal{
    margin-bottom: 10%;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    z-index: 2;
    position: relative; 
    
}

/* Styling for form inside contact section */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    text-align: center;
    padding: 20px;
    width: 100%; /* Ensure form takes full width of its container */
    z-index: 3;
}

/* Styling for form groups */
.form-group, .name-group {
    display: flex;
    flex-direction: column; /* Arrange label and input in a column */
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    z-index: 3;
    position: relative; 
    
}

/* Styling for labels */
.form-group label, .name-group label, .funding-label {
    color: #260e30;
    font-size: 30px;
    font-family: "Overpass", sans-serif;
    padding: 10px;
    text-align: center;
    width: 100%; /* Ensure label takes full width of its container */
    z-index: 3;
    position: relative; 
}
/* This is used the hide _ charcters is some elemetns to correctly space text */
.hidden-char {
    opacity: 0;
}

/* Styling for common input fields */
.common-input,
.form-group input,
.form-group textarea,.name-group input {
    width: 100%; /* Ensure inputs take up most of the form width */
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #0d81af3b;
    color: white;
    height: 3rem;
    margin: 10px 0; /* Add margin for spacing between inputs */
    font-family: 'Arial', sans-serif; /* Set font family */
    font-size: 1.5rem; /* Set font size */
    color: #e9e2e2; /* Set text color */
    position: relative ;
    z-index: 3;
}


#concerns,#additional-info,#hear-about-us {
    height: 6rem; /* Adjust this value to set the desired height */
}

/* Placeholder styling */
.contact input::placeholder,
.contact textarea::placeholder {
    color: #e9e2e2;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.funding-group {
    display: flex;
    flex-direction: row; /* Arrange checkboxes in a column */
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px; /* Adjust the gap between checkboxes and labels */
    position: relative;
}
.funding-label label{
    font-size: 1.5rem;
    
}


.funding-group input[type="checkbox"] {
    margin-right: 5px; /* Adjust the space between checkbox and label */
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #300324;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}


    

/* Styling for What WE do Page  */



.headerContainerWhatWeDo{
    margin-top:20%;
}

.servicesContainer{
    width: 100%;
    background-color:rgb(174,213,226);
    z-index: -50;
    overflow: visible;
    position: relative;
}
.servicesTextOne, .servicesTextTwo{
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure text is centered within its container */
    
}
.servicesTextOne{
    padding-bottom: 10%;
}
.servicesTextTwo{
    margin-bottom: 10%;
}

.servicesHeader,.aboutHeader
{
    padding-top: 20%;
    padding-bottom: 10%;
}
.contactHeader{
    padding-top: 40%;
}
.services-content-one, .services-content-two {
    display: flex;
    flex-direction: column; /* Stack elements vertically by default (mobile-first) */
    padding-left: 5%;
    padding-right: 5%;
    flex: 1; /* Take up remaining space */
    justify-content: center; /* Center content horizontally */
    align-items: center;
}

.services-content-one p,
.services-content-two p {
padding-bottom: 1rem   ; /* Change this value to the desired font size */
}

.servicesOne-image-container {
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    width: 80%; /* Set a fixed width for the container */
    height: 600px; /* Set a fixed height for the container */
    border-radius: 30px;
    margin-top: 10%;
   margin-bottom: 10%;
    
  
}
.imageSixContainer,
.imageSevenContainer {
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    width: 80%; /* Set a fixed width for the container */
    height: 600px; /* Set a fixed height for the container */
    border-radius: 30px;
    margin-top: 10%;
   margin-bottom: 10%;
    
}
.servicesTwo-image-container{
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    width: 100%; /* Set a fixed width for the container */
    height: 600px; /* Set a fixed height for the container */
    border-radius: 30px;
    display: none;
}
.imageThree{
    width: 180%; /* Increase the width to ensure the image covers the container */
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -60%;
    top: -50%; /* Adjust the left property to move the image to the left */
}
.imageFour{
    width: 120%; /* Increase the width to ensure the image covers the container */
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -25%;
    top: -35%;
}
.imageFive{
    width: 120%; /* Increase the width to ensure the image covers the container */
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -25%;
    top: -35%;
}
.imageSix{
    width: 120%; /* Increase the width to ensure the image covers the container */
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -28%;
    top: -20%;
}
.imageSeven{
    width: 120%; /* Increase the width to ensure the image covers the container */
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -28%;
    top: -20%;
}
.ServicesTwoImage,
.ServicesOneImage {
    width: 150%; /* Increase the width to ensure the image covers the container */
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without being cut off */
    position: absolute;
    left: -25%; /* Adjust the left property to move the image to the left */
}
.parallax {
    position: absolute;
    width: 150%;
    height: 150%; /* Make the parallax container the same height as the image container */
    object-fit: cover;
}
.therapy-process-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.therapy-step-container {
    margin-bottom: 20px;
}

.therapy-step {
    opacity: 0; /* Initially hidden */
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}
.therapy-step p {
    opacity: 0; /* Initially hidden */
    transition: opacity .5s ease-in-out; /* Smooth transition */
}
.therapy-step h3{
    margin:10%;
}






.TheTherapyProcess{
    width: 100%;
    background-color: rgba(246,191,133);  
    
    z-index: -50;
    overflow: visible;
    position: relative;
}
    


/* Styling for Who We Are Page  */

.WhatWeDoHeader{
    margin-top: 5%;
}
/* Styling for who we are */
.staffHeader{
    padding-top: 5%;
    font-size: 5rem;
}
.staffSubHeaderTop{
    padding-top: 2%;
    font-size: 3rem;
    padding-bottom: 10%;
}
.staffSubHeader{
    padding: 7%;
    font-size: 3rem;
}
.hiringHeader{
    padding-bottom: 7%;
    font-size: 5rem;
}




.staffContainer{
   
    background-color: rgba(174,213,226);
    z-index: -50;
    overflow: visible;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}
.staffContainer,.staffContainerTwo p {
   /* Change this value to the desired font size */
    align-self: center;
    padding-left: 10%;
   padding-right: 10%;
}
.staffText{
font-size: 1.8rem;
}
.staffContainerTwo{
    background-color: rgba(246,191,133);
    z-index: -50;
    overflow: visible;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
   
}






footer{ 
    padding-top: 30%; 
    text-align: center; 
    padding-bottom: 10%;

}
.footerText{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: #260e30;
    padding: 10px;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; 
}
.flagContainer {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 10px; /* Add some space between the images */
    padding: 2%;
}

.flagContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 10%; /* Ensure the container has height */
}

.flagContainer img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
.footerCopyPrivacy{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: #260e30;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; 
    display: none;
    
}
.footerCopyPrivacyMobile{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    color: #260e30;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; 
    display: block;
}
.footerCopyPrivacyLink {
    display: inline;
}

















/* Media query for desktops */
@media (min-width: 1024px) {

    

    .aboutContentOne,
    .aboutContentTwo {
        display: flex;
        flex-direction: row;
        padding: 5%; /* Position elements side by side on larger screens */
    }

    .aboutContentOne p {
        flex: 1; /* Take up remaining space */
        flex-direction: row;
        margin-right: 10%;
    }
    .aboutContentTwo p {
        flex: 1; /* Take up remaining space */
        flex-direction: row;
        margin-left: 10%;
    }
    .aboutImageContainer,
    .aboutImageContainerTwo{
        max-width: 45%; /* Optional: Set a maximum width */
        margin-top: 0;
       
    }
    .aboutImageContainerTwo{
        display: block;
    } 



    h2 {
        font-size: 8rem; /* Increase the font size */   
    
    }
    .services-content-one,
    .services-content-two {
        display: flex;
        flex-direction: row;
        gap: 10%; /* Add some space between the elements */
        padding-top: 10% ;
    }
    .services-content-one p,
    .services-content-two p {
    font-size: 1.5rem; /* Change this value to the desired font size */
    }
    .servicesTextOne{
        margin-bottom: -10%;
    }
 
    .servicesOne-image-container,
    .servicesTwo-image-container,
    .imageSixContainer,
    .imageSevenContainer {
        min-height: 400px;
        min-width: 50%;
        gap: 10%;
        margin-top: 0%;
        margin-bottom: 0%;
        max-width: 100%;
    }
    .servicesTwo-image-container {
        display: block;
    }
    .therapy-process-container {
        width: 80%;
      
    }
    .contact {
        width: 100%; /* Ensure the contact section takes full width */
        max-width: 1000px; /* Set a maximum width for the contact section */
        margin: 0 auto; /* Center the contact section */
        padding: 0 20px; /* Add padding to prevent content from touching the edges */
    }
    .form-group {
        width: 80%;
        
    }
    .contactBorderSpace{
        height: 200px;
        z-index: -10;
        background-color: rgb(250, 190, 190);
        position: relative;
    }
    
/* Styling for who we are */
    .staffHeader{
        padding-top: 10%;
        font-size: 7rem;
    
    }
    .staffSubHeaderTop{
        padding-top: 2%;
        font-size: 3.5rem;
        padding-bottom: 10%;
    }
    .staffSubHeader{
        padding: 7%;
        font-size: 3.5rem;
    }
}





/* For desktops and larger screens */
@media (min-width: 768px) {
    .ham-menu {
        height: 80px;
        width: 70px; 
    }
    .off-screen-menu {
        font-size: 2rem;
        padding-top:100px;
        width: 300px;
        padding-bottom: 7%;
        }
    .ham-menu span {
        height: 10px;
    }
    .MainHeader{
        width: 80%;
    }
    .form-group {
        flex-direction: row; /* Change to row layout for desktop */
        justify-content: space-between;
        
    }

    .form-group label  {
        flex: 3;
        text-align: center;
        margin-right: 20px;
        
    }
    .name-group label{
        width: 100%;
        flex: 3;
    }

    .common-input,
    .form-group input,
    .form-group textarea {
        flex: 4;
        width: 100%;
        margin: 0; /* Remove margin for desktop view */
    }
    .name-group input {
        width: 100%;
        border-radius: 10px;
        height: 3rem;
        margin: 10px 0;
        flex: 4;
    }
    .referral-first-name{
       
        overflow-wrap: break-word;  
       
    }
    .aboutContentTwo
    {
        padding: 10%;
    }
    .footerCopyPrivacy{
        font-size: 2rem;
        display: block;
    }
    .footerCopyPrivacyMobile{
       
        display: none;
    }
    .flagContainer {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0%; /* Ensure the container has height */
    }
    
    .flagContainer img {
        width: 80px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
    }


}


   
    

    /* Media query for very large screens */
@media (min-width: 1300px) {
    section {
        max-width: 1300px; /* Set a maximum width for the content */
        margin: 0 auto; /* Center the content */
        
    }
    .contact {
        max-width: 1000px;
        margin: 0 auto;
    }
    .contactBorderSpace{
        height: 300px;
      
    
}
}

/* Styles for iPhone 12 Pro Max and similar devices */
@media (max-width: 430px) {
    /* Your styles here */
    p, .staffText{
        font-size: 1.5rem ;
    }
    h2, .staffHeader{
        font-size: 4rem;
        padding-bottom: 10%;
    }
    h3, .staffSubHeader{
        font-size: 3rem;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .aboutContentTwo,
    .aboutContentOne,
    .staffContainer,
    .staffContainerTwo,
    .services-content-one,
    .services-content-two{
        padding: 5%;
    }
    .quote{
        font-size: 2rem;
    }
     
    .servicesOne-image-container,
    .servicesTwo-image-container,
    .imageSixContainer,
    .imageSevenContainer,
    .aboutImageContainer{
        max-height: 400px;
        width: 90%;

    }
    .footerText{
        font-size: 1rem;
      
    }
    .footerCopyPrivacy{
        font-size: 1rem;
    }
    .footerCopyPrivacyMobile{
        font-size: 1rem;
    }
    footer{
        padding:0%;
        padding-top: 20%;
    }
    .contactBorderSpace{
        height: 100px;
    }
   
}
